<div class="sticky bg-blue-900 text-blue-50 p-3 border-l border-slate-500">Dashboard</div>
<div class="p-3">
    <div class="m-auto">
        <h2 class="font-bold">Adolf Hitler</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Hitler_portrait_crop.jpg" class="w-1/5">
    </div>
    <p class="whitespace-pre-line p-3">Adolf Hitler (German: [ˈadɔlf ˈhɪtlɐ] (About this soundlisten);
        20 April 1889 –
        30 April 1945) was an Austrian-born German politician who was the dictator of Germany from 1933 until his death
        in 1945. He rose to power as the leader of the Nazi Party,[a] becoming the chancellor in 1933 and then assuming
        the title of Führer und Reichskanzler in 1934.[b] During his dictatorship, he initiated World War II in Europe
        by invading Poland on 1 September 1939. He was closely involved in military operations throughout the war and
        was central to the perpetration of the Holocaust, the genocide of about six million Jews and millions of other
        victims.

        Hitler was born in Austria, then part of Austria-Hungary, and was raised near Linz. He moved to Germany in 1913,
        and was decorated during his service in the German Army in World War I. In 1919, he joined the German Workers'
        Party (DAP), the precursor of the Nazi Party, and was appointed leader of the Nazi Party in 1921. In 1923, he
        attempted to seize governmental power in a failed coup in Munich and was imprisoned with a sentence of five
        years. In jail, he dictated the first volume of his autobiography and political manifesto Mein Kampf ("My
        Struggle"). After his early release in 1924, Hitler gained popular support by attacking the Treaty of Versailles
        and promoting pan-Germanism, anti-Semitism and anti-communism with charismatic oratory and Nazi propaganda. He
        frequently denounced international capitalism and communism as part of a Jewish conspiracy.

        By November 1932, the Nazi Party held the most seats in the German Reichstag, but did not have a majority. As a
        result, no party was able to form a majority parliamentary coalition in support of a candidate for chancellor.
        Former chancellor Franz von Papen and other conservative leaders persuaded President Paul von Hindenburg to
        appoint Hitler as chancellor on 30 January 1933. Shortly after, the Reichstag passed the Enabling Act of 1933
        which began the process of transforming the Weimar Republic into Nazi Germany, a one-party dictatorship based on
        the totalitarian and autocratic ideology of Nazism. Hitler aimed to eliminate Jews from Germany and establish a
        New Order to counter what he saw as the injustice of the post-World War I international order dominated by
        Britain and France. His first six years in power resulted in rapid economic recovery from the Great Depression,
        the abrogation of restrictions imposed on Germany after World War I, and the annexation of territories inhabited
        by millions of ethnic Germans, which gave him significant popular support.
    </p>
</div>